@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Outfit", sans-serif;
    --color-brand-blue: #013886;
    --color-brand-green: #019171;
    --color-brand-yellow: #ffd51b;
    --color-brand-dark: #232323;
    --color-brand-cream: #fffdf2;
}